.sign-out {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color:rgba(47, 142, 83, 1);
  color: rgba(222, 220, 220, 1);
  padding: 2% 5%;
  border-radius: 5px;
  outline: none;
  width: 90%;
  align-self: center;
}