.left-side {
  display: flex;
  flex-direction: column;
  background-color: #202123;
  color: #dedcdc;
  width: 20%;
  height: 100%;
  padding: 1%;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
