.playgrounds {
  display: flex;
  flex-direction: column;
}
.map {
  width: 80% !important;
  height: 100% !important;
}
/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .map {
    width: 100% !important;
    height: 100% !important;
  }
}
