.sign-up {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 50%;
}
.sign-up__user-name-label,
.sign-up__email-label,
.sign-up__password-label {
  color: #dedcdc;
  text-transform: uppercase;
  padding-left: 5%;
  margin-bottom: 1%;
}
.sign-up__user-name-input,
.sign-up__email-input,
.sign-up__password-input {
  color: #dedcdc;
  padding: 2% 5%;
  background: none;
  border: 2px solid #dedcdc;
  border-radius: 5px;
  margin-bottom: 5%;
  outline: none;
}
.sign-up__user-name-input::placeholder,
.sign-up__email-input::placeholder,
.sign-up__password-input::placeholder {
  color: #dedcdc;
}
.sign-up__button {
  color: #dedcdc;
  padding: 2% 5%;
  border: none;
  background: #2d9057;
  border-radius: 5px;
  margin-bottom: 5%;
  outline: none;
}
/* SMALL SMARTPHONE */
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 30%;
  }
}
/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 30%;
  }
}
