.main__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 2%;
}
.main__main-box {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 44%;
  background: rgba(37, 37, 37, 0.7);
  margin: 2% 0 0;
}
.main__main-box-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 15%;
  color: #dedcdc;
  padding: 2%;
  position: relative;
}
.main__main-box-title:after {
  content: '';
  position: absolute;
  height: 5%;
  width: 14.2%;
  background-color: #2f8e53;
  bottom: 0;
}
.main__main-box-news-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 2%;
  box-sizing: border-box;
  overflow: auto;
}
.main__main-box-news-item-title {
  color: #2f8e53;
}
.main__main-box-news-item {
  color: #dedcdc;
}
.main__events {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 44%;
  margin: 2% 0 0;
}
.main__events-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20%;
  color: #dedcdc;
  background-color: #1d4131;
}
.main__events-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80%;
  color: #dedcdc;
  background-color: #345a42;
  list-style-type: none;
  padding-left: 5%;
}
.main__events-item {
  padding-top: 2%;
  font-size: 0.7rem;
}
.main__small-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 44%;
  margin: 2% 0 0;
}
.main__small-box-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20%;
  color: #dedcdc;
  background-color: #202123;
}
.main__small-box-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: #dedcdc;
  background-color: #22252a;
}
.main__user-games {
  font-size: 4rem;
  font-weight: 900;
  color: #2f8e53;
}
/* SMALL SMARTPHONE */
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .main__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 60px 2%;
  }
  .main__main-box {
    display: flex;
    width: 100%;
    height: 80%;
  }
  .main__events {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% 0 0;
    height: 50%;
  }
  .main__small-box {
    display: flex;
    flex-direction: column;
    width: 31%;
    margin: 5% 0 0;
  }
  .main__user-games {
    font-size: 3rem;
    font-weight: 900;
    color: #2f8e53;
  }
}
/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .main__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 60px 2%;
  }
  .main__main-box {
    display: flex;
    width: 100%;
  }
  .main__events {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% 0 0;
  }
  .main__small-box {
    display: flex;
    flex-direction: column;
    width: 31%;
    margin: 5% 0 0;
  }
  .main__user-games {
    font-size: 3rem;
    font-weight: 900;
    color: #2f8e53;
  }
}
