.main {

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding:0 2%;
  }

  &__main-box {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 44%;
    background:rgba(37, 37, 37, 0.7);
    margin: 2% 0 0;
  }

  &__main-box-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:15%;
    color:rgba(222, 220, 220, 1);
    padding: 2%;
    position: relative;

    &:after {
      content:'';
      position: absolute;
      height: 5%;
      width: 14.2%;
      background-color: rgba(47, 142, 83, 1);
      bottom: 0;
    }
  }

  &__main-box-news-list {
    display: flex;
    flex-direction: column;
    list-style-type:none;
    padding: 2%;
    box-sizing:border-box;
    overflow: auto;
  }

  &__main-box-news-item-title {
    color: rgba(47, 142, 83, 1);
  }

  &__main-box-news-item {
    color:rgba(222, 220, 220, 1);
  }

  &__events {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 44%;
    margin: 2% 0 0;
  }

  &__events-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:20%;
    color:rgba(222, 220, 220, 1);
    background-color:rgba(29, 65, 49, 1);
  }

  &__events-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height:80%;
    color:rgba(222, 220, 220, 1);
    background-color:rgba(52, 90, 66, 1);
    list-style-type: none;
    padding-left: 5%;
  }

  &__events-item {
    padding-bottom: 2%;
  }

  &__small-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 44%;
    margin: 2% 0 0;
  }

  &__small-box-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:20%;
    color:rgba(222, 220, 220, 1);
    background-color:rgba(32, 33, 35, 1);
  }

  &__small-box-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80%;
    color:rgba(222, 220, 220, 1);
    background-color:rgba(34, 37, 42, 1);
  }

  &__user-games {
    font-size: 4rem;
    font-weight: 900;
    color:rgba(47, 142, 83, 1)
  }
}

/* SMALL SMARTPHONE */   
@media only screen 
    and (min-width: 0px) 
    and (max-width: 320px) {
 
 
      .main {

        &__wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          padding:60px 2%;

        }

        &__main-box {
          display: flex;
          width: 100%;
          height: 80%;
        }

        &__events {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 5% 0 0;
          height: 50%;
        }

        &__small-box {
          display: flex;
          flex-direction: column;
          width: 31%;
          margin: 5% 0 0;
        }

        &__user-games {
          font-size: 3rem;
          font-weight: 900;
          color:rgba(47, 142, 83, 1)
        }

      }
}

/* SMARTPHONE */   
@media only screen 
    and (min-width: 320px) 
    and (max-width: 500px) {
 
      .main {

        &__wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          padding:60px 2%;

        }

        &__main-box {
          display: flex;
          width: 100%;
          height: 80%;
        }

        &__events {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 5% 0 0;
          height: 80%;
        }

        &__small-box {
          display: flex;
          flex-direction: column;
          width: 31%;
          margin: 5% 0 0;
        }

        &__user-games {
          font-size: 3rem;
          font-weight: 900;
          color:rgba(47, 142, 83, 1)
        }

      }
}
