.league-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  color: #dedcdc;
  background: rgba(37, 37, 37, 0.8);
  box-sizing: border-box;
  overflow: auto;
}
.league-list__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1%;
  padding: 1% 2%;
}
.league-list__item:last-child {
  margin-bottom: 0;
}
.league-list__item:hover {
  background: #2f8e53;
}
.league-list__item-name {
  width: 30%;
}
.league-list__item-name:hover {
  text-decoration: underline;
}
.league-list__item-date {
  width: 40%;
}
.league-list__item-users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2%;
}
.league-list__item-join {
  width: 10%;
}
/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .league-list {
    padding-top: 60px;
  }
}
/* SMARTPHONE */
@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .league-list {
    padding-top: 60px;
  }
}
