.view-league {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.view-league__players-title,
.view-league__teams-title {
  width: 100%;
  color: #dedcdc;
  background: rgba(37, 37, 37, 0.8);
}
.view-league__players-list,
.view-league__teams-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  color: #dedcdc;
  background: rgba(37, 37, 37, 0.8);
  width: 100%;
  height: 45%;
}
.view-league__players-list-item,
.view-league__teams-list-item {
  display: flex;
  width: 20%;
  margin-bottom: 1%;
  padding: 0.5% 2%;
}
.view-league__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #2f8e53;
  border: none;
  height: 10%;
  color: #dedcdc;
}
/* SMALL SMARTPHONE */
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .view-league__players-title {
    padding-top: 60px;
  }
}
/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .view-league__players-title {
    padding-top: 60px;
  }
}
/* SMARTPHONE */
@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .view-league__players-title {
    padding-top: 60px;
  }
}
